/* General */

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    text-decoration: none;
}

/* Header */

header {
    height: 8rem;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-content {
    margin: 0 10%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    align-items: center;
    height: 8rem;
}

.header-logo {
    height: 7rem;
    width: 6rem;
    display: inline;
    margin: 0 2rem 0 0;
    border-radius: 50%;
}

.header-name {
    display: inline;
    color: #ffffff;
}

.header-subname {
    color:#bebebe;
    display: inline;
    margin-left: 0.75rem;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-nav-a {
    color: #ffffff;
    text-decoration: none;
}

.header-nav-a:hover {
    color: #bebebe;
}

/* About Me */

.about-me-space {
    background-color: #eff7ff;
}

.about-me-content {
    margin: 8rem 10% 0 10%;
    display: flex;
}

.about-me-text {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.about-me-h1 {
    margin: 0;
    padding-left: 2rem;
}

.about-me-p {
    line-height: 2;
}

.about-me-media {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-img {
    height: 21rem;
    width: 14rem;
}

/* Father */

.father-space {
    background-color: #deefff;
}

.father-content {
    margin: 0 10%;
    display: flex;
}

.father-media {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.father-img {
    height: 21rem;
    width: 14rem;
}

.father-text {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.father-h2 {
    margin: 0;
    padding-left: 2rem;
}

.father-p {
    line-height: 2;
}

/* Health */

.health-space {
    background-color: #eff7ff;
}

.health-content {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.health-text {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.health-h2 {
    margin: 0;
    padding-left: 2rem;
}

.health-p-1 {
    line-height: 2;
}

.health-p-2 {
    margin: 0;
    line-height: 2;
}

.health-media {
    width: 100%;
    padding: 0 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.health-slider-wrapper {
    width: 80%;
}

.health-img-list {
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-x: auto;
    gap: 2rem;
    margin-bottom: 0.5rem;
}

.health-img-list::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.health-img-v {
    height: 21rem;
    width: 14rem;
    object-fit: cover;
}

.health-img-h {
    height: 14rem;
    width: 21rem;
    object-fit: cover;
}

.health-img-h-s {
    height: 10.5rem;
    width: 21rem;
    object-fit: cover;
}

.health-scrollbar {
    height: 4rem;
    width: 80%;
    background-color: #eff7ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-scrollbar-track {
    height: 0.125rem;
    width: 100%;
    background-color: #bebebe;
    position: relative;
    border-radius: 0.125rem;
}

.health-scrollbar-track:hover {
    height: 0.25rem;
}

.health-scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 37.5%;
    background-color: #000000;
    cursor: grab;
    border-radius: inherit;
}

.health-scrollbar-thumb:active {
    cursor: grabbing;
}

.health-scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.5rem;
    bottom: -0.5rem;
}

/* Music */

.music-space {
    background-color: #deefff;
}

.music-content {
    margin: 0 10%;
    display: flex;
}

.music-media {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-slide-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #deefff;
    border: none;
    color: #bebebe;
}

.music-slide-button:active {
    color: #000000;
}

.music-slider-wrapper {
    height: 14rem;
    width: 24rem;
    padding-left: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-vid-list {
    height: 14rem;
    width: 24rem;
    overflow: hidden;
}

.music-vid-list::-webkit-scrollbar {
    display: none;
}

.music-vid {
    height: 100%;
    width: 100%;
}

.music-text {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.music-h2 {
    padding-left: 2rem;
    margin: 0;
}

.music-p {
    line-height: 2;
}

/* Art */

.art-space {
    background-color: #eff7ff;
}

.art-content {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.art-text {
    width: 100%;
    padding: 2rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.art-h2 {
    margin: 0;
    padding-left: 2rem;
}

.art-p {
    line-height: 2;
}

.art-media {
    width: 100%;
    padding: 0 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art-slide-button {
    height: 2rem;
    width: 2rem;
    background-color: #eff7ff;
    color: #bebebe;
    border: none;
    border-radius: 50%;
}

.art-slide-button:active {
    color: #000000;
}

.art-slider-wrapper {
    height: 20rem;
    width: 69.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.25rem;
}

.art-img-list {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
}

.art-img-list::before {
    content: "";
}

.art-img-list::after {
    content: "";
}

.art-img-list::-webkit-scrollbar {
    display: none;
}

.art-img {
    height: 20rem;
    width: 15rem;
}

/* Footer */

.footer-space {
    background-color: #000000;
}

.footer-content {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    width: 25%;
    padding: 2rem 0;
}

.footer-h2 {
    color: #ffffff;
    border-bottom: thin solid #ffffff;
    text-align: center;
}

.footer-p {
    color: #ffffff;
    text-align: center;
}

/* Projects */

/* Skills */

/* Contact */